/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
/*a {
    color: #0366d6;
}
*/

#myTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#myTable td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#myTable tr:hover {
    background-color: #ddd;
}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #157cce;
    color: white;
}

a:link, a:visited {
    background-color: royalblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: dodgerblue;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.messageCustom {
    background-size: cover;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
   /* justify-content: end;*/
/*    width:100% !important;
    height: 750px !important;*/
}

.sender {
    padding: 10px;
    background-color: #188a2c;
    color: white;
    font-weight: 600;
    align-self: end;
    max-width: 500px;
    border-radius: 13px;
}
.sender2 {
    padding-top: 5px;
    margin-top: 10px;
    background-color: #188a2c;
    color: white;
    font-weight: 600;
    font-size: 14px;
    height: 60px;
    align-self: end;
    max-width: 500px;
    border-radius: 13px;
}

.receiver {
    padding: 10px;
    background-color: #ff5e00;
    color: white;
    font-weight: 600;
    align-self: start;
    max-width: 500px;
    border-radius: 13px;
}

h1 {
    text-align: center;
    background-color: #157cce;
    border-radius: 23px;
    height: 80px;
    color: white;
}

.home {
    width: 50%;
}

.a-home {
    font-size: 20px !important;
    background-color: #ffd401;
    border-radius: 4px;
}

.p-home {
    font-size: 25px;
    background-color: blue;
    color: white !important;
    height: 57px;
    border-radius: 20px;
    padding-top: 7px;
}

.showtyping {
    color: white;
}

.button_X {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.chat-input2 {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    position: relative !important;
    background: #f2f2f2;
}





