@model List<Chat.Web.Models.ApplicationUser>
@{
    ViewData["Title"] = "Users";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
<link href="~/site2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="">
    <div class="col-lg-1 col-md-1 col-xl-1 col-sm-1" style="background-color:#eee !important; height : 100%;"></div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
        <div class=" ">
            <div class="" style="justify-content: end; display:flex;">
                <a href="" style=" margin-right:auto !important; background: none; color: black !important; text-decoration: none; font-size:25px; ">Admin Portal</a>
                <i style="margin-top:20px !important; margin-right:30px; font-size:20px !important">@User.Identity.Name <i class="far fa-User"></i></i>
                <a class="btn btn-primary align-content-end button_X" href="/Admin/LogoutAdmin">Logout </a>


            </div>

            <h2 style="font-family:cursive; justify-content:center; display:flex"> Users</h2>
            <div style="overflow-y: scroll; height: 530px; ">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                Avatar
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>Locked</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @{
                                    if (item.Avatar == "avatar1.png")
                                    {
                                        <td>
                                            <div>
                                                <img src="/images/icons/avatar1.png" class="user-avatar" data-bind="attr: { src: '/images/icons/' + myAvatar() }" />
                                            </div>
                                        </td>
                                    }
                                    else if (item.Avatar == "avatar2.png")
                                    {
                                        <td>
                                            <div>
                                                <img src="/images/icons/avatar2.png" class="user-avatar" data-bind="attr: { src: '/images/icons/' + myAvatar() }" />
                                            </div>
                                        </td>
                                    }
                                    else if (item.Avatar == "avatar3.png")
                                    {
                                        <td>
                                            <div>
                                                <img src="/images/icons/avatar3.png" class="user-avatar" data-bind="attr: { src: '/images/icons/' + myAvatar() }" />
                                            </div>
                                        </td>
                                    }
                                    else if (item.Avatar == "avatar4.png")
                                    {
                                        <td>
                                            <div>
                                                <img src="/images/icons/avatar4.png" class="user-avatar" data-bind="attr: { src: '/images/icons/' + myAvatar() }" />
                                            </div>
                                        </td>
                                    }
                                }
                                <td style="font-size:22px">
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td style="font-size:22px">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td style="font-size:22px">
                                    @Html.DisplayFor(modelItem => item.Locked)
                                </td>
                                @{
                                    if (item.Locked == false)
                                    {
                                        <td>
                                            <a class="btn " style="background-color: #d9534f !important" href="/Admin/Save?Id=@item.Id">Lock</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a class="btn" style="background-color:mediumseagreen !important" href="/Admin/Save?Id=@item.Id">UnLock</a>
                                        </td>
                                    }
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-xl-1 col-sm-1" style="background-color:#eee !important; height : 100%;"></div>
</div>

